*{
    margin: 0;
}
.card{
    height: 500px;
    width: 500px;
    background-color:cyan;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    padding: 20px;

}
.card-header{
    width: 200px;
    height: 100px;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    
}
.item1{
    width: 100px;
    height: 70px;
    background-color:greenyellow;
}
.item2{
    margin-left: auto;
}