<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BMR</h1>
    <form action="" method="post">
        {%csrf_token%}
        {{form}}
        
        <button type="submit">bmr</button>
    </form>
    {%if data%}
    <h4>You have to consume {{data}} to maintain current weight</h4>
    {%endif%}
</body>
</html>