{%extends 'base.html'%}
{%block title_block%}
<title>movie-create</title>
{%endblock%}
{%block main_block%}
<div class="container border shadow my-5 p-4  w-50 mx-auto rounded">
    <h2 class="text-center fw-bold">Add Movies</h2>
    <form action="" method="post">
        {{form.errors}}
        {%csrf_token%}
        
        <div class="row mb-4">
            <div class="col-6">
                <label for="" class="fw-bold mb-2">Title</label>
                {{form.title}}
            </div>
            <div class="col-6">
                <label for="" class="fw-bold mb-2">Year</label>
                {{form.year}}
            </div>   
        </div>
        <div class="row mb-4">
            <div class="col-6">
                <label for="" class="fw-bold mb-2">Runtime</label>
                {{form.run_time}}
            </div>
            <div class="col-6">
                <label for="" class="fw-bold mb-2">Director</label>
                {{form.director}}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-6">
                <label for="" class="fw-bold mb-2">Genre</label>
                {{form.genre}}
            </div>
            <div class="col-6">
                <label for="" class="fw-bold mb-2">Language</label>
                {{form.language}}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <label for="" class="fw-bold mb-2">Producer</label>
                {{form.producer}}
            </div>
        </div>
        <button type="submit" class="form-control btn btn-outline-secondary fw-bold">ADD MOVIE</button>
    </form>
</div>
{%endblock%}