{%extends 'base.html'%}
{%block title_block%}
<title>movie-list</title>
{%endblock%}
{%block main_block%}
<div class="container p-4 border shadow mt-5 mb-4">
    <h2 class="text-center mb-4"><strong>Movies List</strong></h2>
    <a href="{%url 'movie-create'%}" class="btn btn-primary">Add New Movie</a>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Runtime</th>
            <th>Language</th>
            <th>Genre</th>
            <th>Producer</th>
            <th>Action</th>
        </tr>
        {%for m in data%}
        <tr>
            <td>{{m.title}}</td>
            <td>{{m.year}}</td>
            <td>{{m.director}}</td>
            <td>{{m.run_time}}</td>
            <td>{{m.language}}</td>
            <td>{{m.genre}}</td>
            <td>{{m.producer}}</td>
            <td>
                <a href="{%url 'movie-detail' m.id%}" class="btn btn-outline-primary">View</a>
                <a href="{%url 'movie-delete' m.id%}" class="btn btn-outline-danger">Delete</a>
                <a href="{%url 'movie-edit' m.id%}" class="btn btn-outline-warning">Edit</a>
            </td>
        </tr>
        {%endfor%}
    </table>

</div>
{%endblock%}