{%extends 'base.html'%}
{%block main_block%}
<div class="container border shadow my-5 p-4 w-50 mx-auto rounded bg-info-subtle text-info-emphasis">
    <h4>welcome user {{request.user}}</h4>
    <form action="" method="post">
        <h3 class="fw-bold">Expense Edit</h3>
        {%csrf_token%}
        <!-- {{form}} -->
        <div class="mb-3">
            <div class="row">
                <div class="col-6">
                    <label for="">Title</label>
                    {{form.title}}
                </div>
                <div class="col-6">
                    <label for="">Amount</label>
                    {{form.amount}}
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col-6">
                    <label for="">Select category</label>
                    {{form.category}}
                </div>
                <div class="col-6">
                    <label for="">Select priority</label>
                    {{form.priority}}
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col-12">
                    <label for="">Enter owner</label>
                    {{form.owner}}
                </div>

            </div>
        </div>
        <button type="submit" class="form-control btn btn-outline-secondary fw-bold mt-3">Edit</button>
    </form>
</div>
{%endblock%}