body{
    background-color: black;   
}
h1{
    color: white;
    text-align: center;
    text-decoration: underline;
}
#second-head{
    color: yellow;
    text-decoration: line-through;
}
#third-head{
    color: green;
    text-decoration: overline;
}
.text-sucess{
    color: green;
}
.text-danger{
    color: red;
}
.text-none{
    text-decoration: none;
}